/* This is the phone resolution section  */

/* Vertical */
@media only screen and (min-width: 330px) and (min-height: 640px) {

     nav {
        justify-content: center;
    }
}

/* Horizontal */
@media only screen and (min-width: 640px) and (min-height: 330px) {

    nav {
        justify-content: center;
    }

    nav a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        height: 80vh;
        margin-top: 0px;
    }

    .content {
        height: 80vh;
    }

    .icon-wrapper {
        height: 70%;
    }
    
}

/* This is the tablet resolution section */

/* Vertical */
@media only screen and (min-width: 768px) and (min-height: 1020px) {
    nav {
        font-size: 18px;
        justify-content: flex-end;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        padding: 0px 10px;
    }
    
    .card {
        height: 60vh;
        margin-top: 0px;
        padding: 0 10%;
    }

    .content {
        height: 50vh;
    }

    .contact-wrapper {
        padding-right: 60px;
    }

    .image-controller {
        max-height: 605px;
    }

    footer {
        height: 8vh;
    }

    .icon-wrapper {
        height: 40%;
        padding-left: 20px;
    }

    .contact-wrapper {
        font-size: 14px;
    }
}

/* Horizontal */
@media only screen and (min-width: 1020px) and (min-height: 768px) {
    nav {
        font-size: 18px;
        justify-content: flex-end;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        padding: 0px 10px;
    }
    
    .card {
        height: 60vh;
        margin-top: 0px;
        padding: 0 10%;
    }

    .content {
        height: 50vh;
    }
    
    .contact-wrapper {
        padding-right: 60px;
    }

    .image-controller {
        max-height: 605px;
    }

    .icon-wrapper {
        height: 40%;
    }
}

/* This is the laptop resoltion section */

@media only screen and (min-width: 1280px) and (min-height: 720px) {
    nav {
        font-size: 16px;
        justify-content: flex-end;
    }

    nav ul {
        padding-right: 20px;
    }

    nav a {
        padding: 0px 20px;
    }

    .card {
        height: 80vh;
        padding: 0 10%;
        flex-direction: row;
        align-items: center;
    }

    .content {
        height: 60vh;
        display: flex;
        flex-direction: column;
        flex-grow: 1
    }

    .content h3 {
    font: 300 30px/1.8 "Lato", sans-serif;
}

    .image-controller {
        margin: 0;
    }

    .card p {
        max-width: 40%;
        margin: 20px 0px 20px 20px;
        font-size: 18px;
        align-self: center;
    }
    
    .card .date {
        font-size: 14px;
        margin: 0;
        align-self: flex-start;
    }

    footer {
        height: 7vh;
    }

    .icon-wrapper {
        height: 70%;
        max-width: 30%;
    }

    .contact-wrapper {
        font-size: 12px;
        text-align: right;
    }
}
